.eventContainer {
  position: relative;
}

.event {
  position: absolute;

  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #ba1e55;
  border: 1px solid #16141c;
  color: #16141c;
  font-size: 1.4rem;
  font-weight: bold;
}
